
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background-color: #f5f5f5;       /* style the body so it wil lbe centered using the display flex and its sub proerties */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;           
}


/* Container of all divs */

.container{ 
    position:relative;      /* set to position relative so I can style and move all elements inside the parent div only */
    width:100%;
    max-width:1000px;
    min-height: 1000px;
    background-color: #fff;
    margin:50px;
    display: grid;                                /* create 2 grid first of 2 columns */
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,1);
  

}

/* LEFT SIDE CONTAINER */

/* Contact Info Design  */ 

.container .left_side{                        
    position: relative; 
    background: #324148;
    padding: 40px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    
}   



.profileText{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:20px;
    border-bottom: 1px solid gray;    
}

.profileText .imgBox{
    position:relative;
    height:200px;
    width: 200px;
    border-radius: 100px;
    overflow:hidden;
}

.profileText .imgBox img{   /* targeted the img box and set to position absolute  so I can style and move my image so it will not go out in a parent div */
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.profileText h2{
    color:#fff;
    font-size:1.5em;
    margin-top:20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}


.profileText h2 span{
    font-size: .6em;
    font-weight: 300;
}






/* Contact info style */


.contactInfo{
    padding-top:40px;
}



.contactInfo .title{
   color:#fff;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 20px;
}



.contactInfo ul li{ 

    list-style: none;
    margin:10px;
    cursor:pointer;
}

.contactInfo ul li .icon{ 
    display: inline-block;
    width:30px;
    font-size: 18px;
    color:#88a2b0;

}




.contactInfo ul li span{
    color:#fff;
    font-weight: 300px;
    
}



.contactInfo.education li{
    margin-bottom: 15px;

}
.contactInfo.education h5{
color:#88a2b0;
font-weight: 500;
}

.contactInfo.education h4:nth-child(2){   /* if there is 2 children inside the parent and wants to change the style of other one, set the number of child */
    color:#fff;
    font-weight: 500;
}

.contactInfo.education h4{             /* the second child change to a different style with the same tag name */
    color:#fff;
    font-weight: 300;
}


/*Language style */


.contactInfo.language .percent{    /* targeted the percent div and set it to relative position so I can manipulate the style to its children */
 
    position:relative;
    width:100%;
    height:6px;
    background-color: #081921;   
    display: block;
    margin-top:10px;
}

.contactInfo.language .percent div{  /* set to position absolute to add percentage style to add the div inside the span*/

    position:absolute;
    top:0;
    left:0;
    height: 100%;
    background: #88a2b0;
}





/* RIGHT SIDEW CONTAINER*/

/* style design for all sections */

.container .right_side{
    position: relative;
    background-color: white;
    padding: 40px;
    
}   

.about{
    margin-bottom:50px;
}


.title2{
    margin-bottom:30px;
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* sections style */ 

section {

    margin-top:10px;
    margin-bottom: 20px;
}

section p{
    color:#333;
}


.about .box{
    display: flex;
    flex-direction: row;
    margin:20px 0px;
}


.about .box .year_company{
   
    min-width: 170px;
}


.about .box .year_company h5{
    color:gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about .box .text h4{
    color:#003147;
    text-transform: uppercase;
    font-weight: 600;

}

.about .box .text p{
    color:#252729;
    font-weight: 200;
    margin-top:2px;
  
}




/* SKILLS  */


.skills .percent{    /* copied the language style and change it to skills  */
 
    position:relative;
    width:80%;
    height:8px;
    background-color: #081921;
    display: block;
    margin-top:10px;
    margin-bottom:20px;
   
}

.skills .percent div{

    position:absolute;
   
    height: 100%;
    background: #88a2b0;
}

.skills{
    margin-top:90px;
}

.skills li{

    list-style-type:none;
}


 .titles{

    text-transform: uppercase;
    margin-bottom:20px;
    font-weight: 20rem;
    font-size: 22px;
    color:#003147;
}





/*MEDIA QUERIES */

@media screen and (max-width: 688px) and (max-width: 768px) /* displayed in mobile*/
{    
.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
    }
     
    }



    @media screen and (min-width: 768px) /* displayed in larger*/
    {
    .contactInfo ul{              /* set the width of ul same to parent container to fit the elements fav-icons and text to kept them display in in-line block */

        width:  250px;  
      }
       .contactInfo{              /* set the width container of the parent container same to children elements(ul) */
          width: 250px;
       }
    }
